<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <connectionStrings>
    <add name="FairiesMemberManage" connectionString="data source=www.kmdx.cn;uid=sa;pwd=sa;database=AMSCM_XG" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <machineKey validationKey="0CE7854C0BADA630C9ADEB30D4308C5C2F98D12073F3BCC1E6693F315DDA62AB9952B30F4100070068926FE77EF56BF59A75486A9F9686124ACD361F49B0EF73" decryptionKey="30C254A6119475F46A4C02A4CB4B11D70D036C805C65D8F89F4663E65B9E6244" validation="SHA1" decryption="AES" />
    <membership>
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="FairiesMemberManage" enablePasswordRetrieval="true" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="1" minRequiredNonalphanumericCharacters="0" passwordFormat="Encrypted" passwordAttemptWindow="10" applicationName="FairiesDataCenter" />
      </providers>
    </membership>
  </system.web>
</configuration>
